body{
    width:100%;
    background:
    linear-gradient(
      rgba(101, 117, 106, 0.199), /* #355c7d */
      rgba(98, 129, 125, 0.877), /* #6c5b7b */
      rgba(41, 21, 44, 0.295) /* #c06c7b */
    ),
    url('../Imagens/pexels-photo-237898.jpeg') no-repeat left top;
   background-size: cover;  
	z-index: 0; /* bottom layout */
}

/* ############# FIM BACKGROUND ##################*/