.form-horizontal{
   
    top: 50%;
    left: 100%;
    right: 50% ;
 
}


.Dtnascimento{
    width: 12% ;
}

.sexo{
    width: 10.5%;
}

.artrose{
    width: 6%;
}
.ped{
    width: 6%;
}

.control-label{
    text-align: center ;
}

