<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Espaço Vida Terapia Alternativa</title>
    
    <link rel="stylesheet" type="text/css" href="../static/css/deash_usuario.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/background.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/ficha_clientes.css" />
    

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href=""> <img class="logo" src="../static/imagens/logo.jpg"> </a>
                <h3 class="espaco">ESPAÇO VIDA TERAPIA ALTERNATIVA</h3>     
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbar1">
            
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{url_for('deash_usuario')}}">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="btn ml-2 btn-warning" href="{{url_for('login')}}">Sair</a></li>
                    </ul>
                </div>
            </nav>



        </br></br></br></br>
<!--
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th><h5>Nome Pasciente</h5></th>
                    <th><h5>CPF</h5></th>
                    <th><h5>Endereço</h5></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for exibe_usuario in lista_usuario %}
                <tr>
                    <td class="name">{{exibe_usuario.nome}}</td>
                    <td class="cpf">{{exibe_usuario.cpf}}</td>
                    <td class="endereco">{{exibe_usuario.endereco}}</td>
                    <td>
                        <a href="">Editar</a>
                        <a href="">Deletar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-danger" href="{{url_for('deash_usuario')}}">Voltar</a>

    -->

    <div class="our-team-main_ficha">
        <div class="container">
            <div class="row">
                <div class="panel panel-primary filterable">
                    <div class="panel-heading">
                        <div class="cardTituloModal">

                            <h2 class="modal-title">Consulte, altere ou inative
                                Usuarios
                                cadastrados !
                            </h2>
                        </br>
                        </div>

                        <div class="pull-right">
                            <button class="btn btn-default btn-xs btn-filter"><span
                                    class="glyphicon glyphicon-filter"></span>
                                Filtrar</button>
                            
                        </div>
                    </div>
                </br>
                    <!-- >>>>>>>>>>> PAGINAÇÃO DAS TABELAS <<<<<<<<<<<<<<<< -->

                    <!-- ########## FILTRAR O NUMERO DE COLUNAS QUE APARECE ########## -->

                    <div class="container">
                        <div class="form-group">

                            <!--		Show Numbers Of Rows 		-->
                            <select class="form-control" name="state" id="maxRows">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="70">70</option>
                                <option value="100">100</option>
                            </select>
                        </div>



                        <!-- ########## FIM  FILTRAR O NUMERO DE COLUNAS QUE APARECE ########## -->


                        <table class="table table-class" id="table-id">

                            <thead>
                                <tr class="filters">
                                    <!-- ISSO É DO EDITAR -->
                                    <th><input type="text" class="form-control" placeholder="Nome"
                                            disabled></th>
                                    <th><input type="text" class="form-control" placeholder="CPF"
                                            disabled></th>
                                    <th><input type="text" class="form-control" placeholder="Endereço" disabled></th>
                                    

                                </tr>
                            </thead>
                            <tbody>
                                {% for exibe_usuario in lista_usuario %}
                                <tr>
                                    <td class="name">{{exibe_usuario.nome}}</td>
                                    <td class="cpf">{{exibe_usuario.cpf}}</td>
                                     <td class="endereco">{{exibe_usuario.endereco}}</td>

                                    <td class="edit">
                                        <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#cadastrarUsuario" onclick="editar(this)"><span class="glyphicon glyphicon-edit"></span>Abrir Ficha</a></td>
                               


                                </tr>
                                {% endfor %}



                            </tbody>



                        </table>


                    </div>
                </div>
            </div>


            <div class="modal-footer">
                

                    <!-- >>>>>>>>>>> PAGINAÇÃO DAS TABELAS ( NUMEROS) <<<<<<<<<<<<<<<< -->

                    <!--Start Pagination -->
                    <div class="alinhar-paginacao">
                        <div class='pagination-container'>
                            <nav>
                                <ul class="pagination">

                                    <li class="page-link" data-page="prev">
                                        <a class="page-item"><span>
                                            < <span class="sr-only page-link">(current)
                                        </span></span></a>
                                    </li>
                                    <!--	Here the JS Function Will Add the Rows -->
                                    <li class="page-link" data-page="next" id="prev">
                                        <a class="page-item"><span> > <span class="sr-only ">(current)</span></span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                <!-- >>>>>>>>>>> FIM PAGINAÇÃO DAS TABELAS <<<<<<<<<<<<<<<< -->

                <div class="btn-group">


               <!--
                <button class="btn btn-primary" ><a href="{{url_for('deash_usuario')}}"><span class="glyphicon glyphicon-check">  </span>
                    Voltar</a></button>
                -->
                <a class="btn btn-primary" href="{{url_for('deash_usuario')}}">Voltar</a>


            </div>
        </div>



    </div>








    <!-- Fim CONSULTA DE USUARIOS (RAIZ DA PAGINA) -->

</div>
</div>
</div>
</div>
</div>
</div>
<!--/.Card-->

</div>
<!--Grid column-->

<br><br><br><br><br><br><br>

</main>
<!--Main layout-->


<footer>
    <div class="card-body text-center">
     <h4 class="text-white"><p>&copy; Copyright Espaço Vida Terapia Alternativa 2019 </p> </h4>
     <p class="h5 text-white"> for Ecommerce, marketplace, booking websites 
     and product landing pages</p>   <br>
   </div>
  </br>
  </footer>
</body>

</html>