<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <head>
    <body id="LoginForm">
    <div class="container">
    <h1 class="form-heading">Área de Login</h1>
    <div class="login-form">
    <div class="main-div">
        <div class="panel">
       <h2>Login</h2>
       <p>Por favor entre com seu e-mail e senha</p>
       </div>
        <form id="Login">
    
            <div class="form-group">
    
    
                <input type="email" class="form-control" id="inputEmail" placeholder="Email Address">
    
            </div>
    
            <div class="form-group">
    
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
            
            <a href="{{ url_for('deash_usuario')}}"> Login </a>>
        </form> 
    </div></div></div>

</br></br>
<footer>
    <div class="card-body text-center">
     <h4 class="text-white"><p>&copy; Copyright Espaço Vida Terapia Alternativa 2019 </p> </h4>
     <p class="h5 text-white"> for Ecommerce, marketplace, booking websites 
     and product landing pages</p>   <br>
   </div>
  <br><br>
  </footer>
</body>
</html>